###
wandb/
*egg-info*
*.tar.xz
data/
*.eps
*.pyc
.vscode
output
build

####
tmp_dir/
tmp_img_dir/
point_cloud_videos/

ckpts/
logs/
outputs/
CoppeliaSim_Edu_V4_1_0_Ubuntu20_04/
CoppeliaSim_Edu_V4_1_0_Ubuntu18_04/
data_seen/
data_unseen/
replay_test/
replay_train/
replay/
real_robo_pointclouds/
.ipynb_checkpoints/
nerf_bc_data/
multi_task_data/
generalization_train_data/
generalization_test_data/
test_data/
train_data/
test/
eval.png
bar.png
curve.png

peract.egg-info/

archive/
detectron2/
# large file
demo_e200.ckpt
pascal_fold0.ckpt

__pycache__/


